.Navigation {
    border-bottom: 2px solid #e6e61a ;
}

li:hover {
    cursor:pointer;
    background-color: #bebc18;
    color: white;
}

.menu-item {
    background-color: #e6e61a;
    transition: all 0.2s ease;
    height: 40px;
}

.activeMenu {
    background-color: #bebc18;
    color: white;
  }

.logo-img {
    height: 70px;
}